.work-main {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 30px;
	margin-top: 2rem;
}

.project {
	position: relative;
}

.project-name {
	position: absolute;
	top: 200px;
	left: 0;
	width: 80%;
	padding: 0 0px;
	text-align: center;
	color: #fff;
	visibility: hidden;
	opacity: 1;
	transition: opacity 0.2s, visibility 0.2s;
	border: 1px solid black;
	background-color: black;
}

.project-image {
	width: 100%;
	height: 250px;
	border: 3px solid #fff;
}

.project-image:hover {
	border: 3px solid #7bad7b;
	opacity: 0.7;
	transition: all 0.5s ease-out;
}

.project:hover .project-name {
	visibility: visible;
	transition: all 0.5s ease-out;
}

.project:hover {
	opacity: 0.4;
}

.project-link {
	padding: 0.7rem 1.7rem;
	border: 1px solid black;
	margin-bottom: 0.3rem;
	text-decoration: none;
	background-color: black;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.3rem;
	transition: all 0.5s ease-out;
	text-align: center;
}

.project-link:hover,
.live-link:hover {
	background: rgba(0, 0, 0, 0);
	background-color: #7bad7b;
	color: black;
	cursor: pointer;
}

.live-link {
	margin-top: 5px;
	padding: 0.7rem 1.7rem;
	border: 1px solid black;
	margin-bottom: 0.3rem;
	text-decoration: none;
	background-color: #555;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.3rem;
	transition: all 0.5s ease-out;
	text-align: center;
}

/* Media Query - 700px screen or smaller */
@media (max-width: 950px) {
	.work-main {
		grid-template-columns: repeat(2, 1fr);
	}
}

/* Media Query - 550px screen or smaller */
@media (max-width: 550px) {
	.work-main {
		grid-template-columns: 1fr;
	}
}
