/* Menu Overlay */
.menu {
	position: fixed;
	top: 0;
	width: 100%;
	opacity: 0.9;
}

.menu-branding,
.menu-nav {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
	float: left;
	width: 50%;
	height: 100vh;
	overflow: hidden;
}

.nav-link {
	color: #fff;
	list-style-type: none;
	position: relative;
	font-size: 30px;
	text-transform: uppercase;
	padding: 1rem 0;
	font-weight: 300;
}

.nav-link:hover {
	color: #7bad7b;
}
