/* Menu Button */
.side-menu-icon {
	position: absolute;
	z-index: 3;
	right: 35px;
	cursor: pointer;
}

.side-menu-icon:hover {
	color: var(--app-secondary-color);
}

.menu-btn {
	top: 35px;
}

.fa-facebook {
	top: 65px;
}

.fa-github-square {
	top: 110px;
}

.fa-linkedin {
	top: 155px;
}

.fa-twitter-square {
	top: 200px;
}

.fa-stack-overflow {
	top: 245px;
}

.btn-line {
	width: 28px;
	height: 3px;
	margin: 0 0 5px 0;
	background: var(--app-light-color);
}
