body {
	background: rgba(0, 20, 40, 0.9);
}

.header {
	color: #fff;
}

.bio {
	font-size: 1.5rem;
	color: #fff;
}

.about-main {
	margin-top: 4rem;
	display: grid;
	grid-gap: 2rem;
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas: 'image bio bio';
}

.bio-img {
	grid-area: 'image';
	width: 256px;
	height: 256px;
	border-radius: 50%;
	margin: auto;
	border: 6px solid #7bad7b;
}

.bio {
	grid-area: bio;
}

.about-card {
	margin-top: 3rem;
	color: #c2c5cc;
	background-color: #555;
	padding: 1rem;
	border: 3px solid #7bad7b;
}
