.home-container {
	border: 1px solid transparent;
	padding: 2rem;
	background: rgba(68, 68, 68, 0.5);
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr;
	align-items: end;
	overflow: hidden;
}

.home-btn {
	margin-top: 1rem;
	text-align: center;
}

.home-nav-links {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
}

.home {
	display: grid;
	grid-template-columns: 1fr;
	background-image: url('../../../images/wolf.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	opacity: 0.6;
	height: 100vh;
	overflow: hidden;
}

.home-main {
	margin-bottom: 4rem;
}

.home-secondary-heading {
	color: var(--app-light-color);
}

/* Media Query - 482px screen or smaller */
@media (max-width: 482px) {
	.home-nav-links {
		grid-template-columns: 1fr;
	}
}

/* Media Query - 398px screen or smaller */
@media (max-width: 398px) {
	.home {
		overflow-y: visible;
	}
}

/* https://css-tricks.com/perfect-full-page-background-image/ */
