.resume {
	padding: 3.7rem;
}

.resume-main {
	margin-top: 3rem;
}

.resume-section {
	display: grid;
	grid-template-columns: 1.5fr 4fr;
	color: var(--app-light-color);
	margin-top: 3rem;
}

.fa-print {
	position: absolute;
	z-index: 3;
	left: 15px;
	cursor: pointer;
	color: var(--app-light-color);
}

.fa-print:hover {
	color: var(--app-secondary-color);
}

.resume-section-title {
	color: var(--app-secondary-color);
}

.expertise-section-content {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
}

.tools-section-content {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 30px;
}

.resume-section-content, .work-section-content {
  font-size: 20px;
}

.tools-subsection {
	margin-top: 10px;
}

.tools-list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 3px;
	margin-top: 1rem;
}

.education-section-content {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 30px;
}

.resume-work-link {
  border-bottom: 3px solid #fff;
}

.resume-work-link:hover {
	background: var(--app-transparent-color);
	color: var(--app-light-color);
	border-color: var(--app-secondary-color);
}

/* Media Query - 828px screen or smaller */
@media (max-width: 828px) {
	.resume-section {
		grid-template-columns: 1fr;
	}
}

/* Media Query - 735px screen or smaller */
@media (max-width: 735px) {
	.expertise-section-content {
		grid-template-columns: repeat(2, 1fr);
	}
}

/* Media Query - 703px screen or smaller */
@media (max-width: 703px) {
	.education-section-content {
		grid-template-columns: 1fr;
	}
}

/* Media Query - 544px screen or smaller */
@media (max-width: 544px) {
	.tools-list {
		grid-template-columns: 1fr;
	}
}

/* Media Query - 735px screen or smaller */
@media (max-width: 735px) {
	.expertise-section-content {
		grid-template-columns: 1fr;
	}
}

/* Media Query - 389px screen or smaller */
@media (max-width: 389px) {
	.education-section-content {
		grid-template-columns: 1fr;
	}
}
