:root {
	--main-bg-color: #444;
	--background-opacity: 0.9;
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	height: 100%;
	margin: 0;
	padding: 2rem;
}

/* https://css-tricks.com/perfect-full-page-background-image/ */
img.bg {
	/* Set rules to fill background */
	min-height: 100%;
	min-width: 1024px;

	/* Set up proportionate scaling */
	width: 100%;
	height: auto;

	/* Set up positioning */
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	background: rgba(68, 68, 68, 0.5);
}

body::after {
	content: '';
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
	background: rgba(68, 68, 68, 0.5);
}

h1,
h2 {
	margin: 0;
	font-weight: 400;
}

.lg-heading {
	font-size: 6rem;
}

.sm-heading {
	font-size: 2rem;
}

header {
	z-index: 2;
	width: 100%;
}

.btn {
	padding: 0.7rem 1.7rem;
	border: 1px solid black;
	margin-bottom: 0.3rem;
	text-decoration: none;
	background-color: black;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.3rem;
	transition: all 0.5s ease-out;
}

.btn:hover {
	background: rgba(0, 0, 0, 0);
	padding: 1rem 2rem;
	color: black;
}

@media screen and (max-width: 1024px) {
	/* Specific to this particular image */
	img.bg {
		left: 50%;
		margin-left: -512px; /* 50% */
	}
}
